<div class="main-content">
    <div class="container-fluid">
        
        <button class="collapsible reportes"> 
            Reporte 1
        </button>
        <div class="content">

            <h3>Reporte 1: etc,etc </h3>
            <button type="button" (click)="generatePDF('tableOrders')" class="btn btn-success btn-sm">export pdf</button>
            <table id="tableOrders" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Amount</th>
                        <th>Order Placed</th>
                        <th>Order Fulfilled</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ order.placed | date:'yyyy-MM-dd' }}</td>
                        <td>{{ order.fulfilled | date:'dd/MM/yyyy HH:mm' }}</td>
                        <td>Status</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <button class="collapsible reportes"> 
            Reporte 2
        </button>
        <div class="content">

            <h3>Reporte 2: etc,etc </h3>
            <button type="button" (click)="generatePDF('tableOrders')" class="btn btn-success btn-sm">export pdf</button>
            <table id="tableOrders" class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Amount</th>
                        <th>Order Placed</th>
                        <th>Order Fulfilled</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ order.placed | date:'yyyy-MM-dd' }}</td>
                        <td>{{ order.fulfilled | date:'dd/MM/yyyy HH:mm' }}</td>
                        <td>Status</td>
                    </tr>
                </tbody>
            </table>

        </div>




    </div>
</div>