<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://github.com/MauricioLopez-109280/2020_MSI/blob/master/2W2/G14/InformacionGrupo.md"  target="_blank">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="https://github.com/MauricioLopez-109280/2020_MSI/tree/master/2W2/G14" target="_blank">
                        Repo
                    </a>
                </li>
                <li>
                    <a href="https://github.com/TUP-MSI/2020_MSI" target="_blank">
                        2020-UTN-FRC-TUP-MSI
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, G14 - DeFourtin
        </div>
    </div>
</footer>
