<div class="main-content" id="initPage">
    <div class="container-fluid">
        
        <button (click)="cambiarEditMode()" > cambiar edit mode </button>

        <button class="collapsible capacitacion"> 
            Crear-Editar
        </button>
        <div class="content mb-2">

            <app-formgenerico 
            [fieldsForm]="fieldsForm"
            [tituloCrear]="'Crear Capacitacion'"
            [tituloEditar]="'Editar Capacitacion'"
            [(isEditMode)]="isEditMode"
            [objectoCrearEditar]="objectoCrearEditar"
            (messageEventCrearEditar)="formgen_receiveMessageCrearEditar($event)"
            (messageEventCancelar)="formgen_receiveMessageCancelar($event)"
            >
            </app-formgenerico>
        </div>

        <button class="collapsible capacitacion"> 
            Consultar
        </button>
        <div class="content">

            <app-gridgral 
                [idDivContenedor]="'ConsultarCapacitacion'"
                [tituloListado]="'Consultar Capacitaciones'"
                [listEncabezados]="listEncabezados"
                [listObjetos]="listCapacitaciones"
                (messageEventEdit)="gridgral_receiveMessageEdit($event)"
                (messageEventBuscar)="gridgral_receiveMessageBuscar($event)"
                (messageEventDelete)="gridgral_receiveMessageDelete($event)"
                (messageEventCambiarEstado)="gridgral_receiveMessageCambiarEstado($event)"
            >
            </app-gridgral>

        </div>



    </div>
</div>