<div class="main-content" id="initPage">
    <div class="container-fluid">
        
        <!-- <button (click)="cambiarEditMode()" > cambiar edit mode </button> -->

        <button class="collapsible empleados"> 
            Crear-Editar
        </button>
        <div class="content mb-2">

            <app-formgenerico 
                [fieldsForm]="fieldsForm"
                [tituloCrear]="'Crear Empleados'"
                [tituloEditar]="'Editar Empleados'"
                [(isEditMode)]="isEditMode"
                [objectoCrearEditar]="objectoCrearEditar"
                (messageEventCrearEditar)="formgen_receiveMessageCrearEditar($event)"
                (messageEventCancelar)="formgen_receiveMessageCancelar($event)"
                (messageEventClickTitulo)="formgen_receiveMessageClickTitulo($event)"
            >
            </app-formgenerico>

        </div>

        <button class="collapsible empleados"> 
            Consultar
        </button>
        <div class="content">

            <app-gridgral 
                [idDivContenedor]="'ConsultarEmpleados'"
                [tituloListado]="'Consultar Empleados'"
                [listEncabezados]="listEncabezados"
                [listObjetos]="listEmpleados"
                (messageEventEdit)="gridgral_receiveMessageEdit($event)"
                (messageEventBuscar)="gridgral_receiveMessageBuscar($event)"
                (messageEventDelete)="gridgral_receiveMessageDelete($event)"
                (messageEventCambiarEstado)="gridgral_receiveMessageCambiarEstado($event)"
            >
            </app-gridgral>

        </div>



    </div>
</div>