<div class="main-content">
    <div class="container-fluid">
        

        <i class="material-icons">build</i>
        <p>En construcción</p>
        <hr>

        <button class="collapsible performance"> 
            Crear-Editar
        </button>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed hic modi, temporibus alias consectetur veniam accusamus doloremque culpa atque provident et cupiditate. Architecto accusantium aspernatur facere sapiente. Alias, delectus?
            </p>
        </div>

        <button class="collapsible performance"> 
            Consultar
        </button>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed hic modi, temporibus alias consectetur veniam accusamus doloremque culpa atque provident et cupiditate. Architecto accusantium aspernatur facere sapiente. Alias, delectus?
            </p>
        </div>

    </div>
</div>