<div class="main-content" id="initPage">
    <div class="container-fluid">
        
        <button class="collapsible licencias"> 
            Crear-Editar
        </button>
        <div class="content">

            <app-formgenerico 
                [fieldsForm]="fieldsForm"
                [tituloCrear]="'Crear Licencia'"
                [tituloEditar]="'Editar Licencia'"
                [(isEditMode)]="isEditMode"
                [objectoCrearEditar]="objectoCrearEditar"
                (messageEventCrearEditar)="formgen_receiveMessageCrearEditar($event)"
                (messageEventCancelar)="formgen_receiveMessageCancelar($event)"
                (messageEventClickTitulo)="formgen_receiveMessageClickTitulo($event)"
            >
            </app-formgenerico>

        </div>

        <button class="collapsible licencias"> 
            Consultar
        </button>
        <div class="content">


            <app-gridgral 
                [idDivContenedor]="'ConsultarLicencias'"
                [tituloListado]="'Consultar Licencias'"
                [listEncabezados]="listEncabezados"
                [listObjetos]="listLicencias"
                (messageEventEdit)="gridgral_receiveMessageEdit($event)"
                (messageEventBuscar)="gridgral_receiveMessageBuscar($event)"
                (messageEventDelete)="gridgral_receiveMessageDelete($event)"
                (messageEventCambiarEstado)="gridgral_receiveMessageCambiarEstado($event)"
            >
            </app-gridgral>

        </div>


    </div>
</div>
